{% extends 'base.html.twig' %}

{% block title %}
  Modifier : {{ article.title }}
{% endblock %}

{% block body %}
    <h1>Modifier l'article"{{ article.title }}"</h1>

    {# Gérer la publication de l'article #}

    {# Réutiliser le meme formulaire que dans add.htm.twig #}

{% endblock %}

